.background-landing {
    background-color: white;
}

.background-head {
    background: linear-gradient(90.94deg, #EB002B 0.34%, #EB002B 62.86%, rgba(235, 0, 43, 0) 98.73%);
}

.is-absolute {
    position: absolute;
}

.header-text {
    color: white;
    margin-right: 30%;
}

.has-spacing {
    padding-right: 7rem;
}

.fill {
    min-width: -webkit-fill-available;
}

.landing-text {
    color: #850018;
    padding: 1rem;
    padding-right: 15%;
    padding-left: 15%;
}

.landing-text-image {
    color: #850018;
}

.additional-text {
    color: black;
}

.align-center {
    display: contents;
}

.check-bullets {
    list-style-image: url("checkmark.svg");
}

.help-icon {
    margin-left: 240%;
}

.background-footer {
    background-color: #C4C4C4;
}